/* Google Font: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* root */
:root {
    --color-black: rgba(58, 58, 58, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-gray: rgb(129, 129, 129);
    --color-pink: rgba(224, 44, 109, 1);
    --text-normal: 1rem;
    --text-card-title: 1.25rem;
    --text-title: 1.5rem;
    --text-title-sm: 2rem;
    --text-title-lg: 3rem;
}

/* custom classes */
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.title-lg {
    font-size: var(--text-title-lg);
    color: var(--color-black);
    font-weight: 700;
}

.text-normal {
    font-size: var(--text-normal);
    font-weight: 600;
    color: var(--color-gray);
}

.btn {
    background-color: var(--color-pink);
    padding: 10px 24px;
    color: var(--color-white);
    font-size: var(--text-normal);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.btn-round {
    border-radius: 41px;
}

/* animation */
.icon-arrow {
    transition: 0.1s ease-in;
}

.btn:hover .icon-arrow {
    transform: translateX(10px);
}

/* shared styles */
.container {
    max-width: 1440px;
    margin: 100px auto;
}

/* header */
header {
    margin: 50px 120px;
}

/* navigation styles */
.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-sm-top {
    display: none;
}

.nav-sm-bottom {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

.brand {
    font-size: var(--text-title);
    font-weight: 700;
    color: var(--color-black);
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    font-size: var(--text-normal);
}

nav ul li .icon {
    cursor: pointer;
}

/* banner section */
.banner-content {
    max-width: 582px;
}

.banner-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-image img {
    width: 100%;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* companies logo */
.companies-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.companies-logo img {
    cursor: pointer;
    filter: grayscale(100);
}

.companies-logo img:hover {
    filter: grayscale(0);
}

/* products section */
.products-card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-card {
    padding: 17px 15px;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.product-card img {
    width: 100%;
}

.price {
    font-size: var(--text-card-title);
    font-weight: 600;
}

.tag {
    background-color: yellowgreen;
    color: var(--color-white);
    padding: 5px 10px;
    font-size: 10px;
}

/* features section */
.feature-section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;
    align-items: center;
}

.feature-section img {
    width: 100%;
}

/* footer */
footer {
    background-color: rgba(10, 8, 38, 1);
    padding: 50px 0;
    text-align: center;
    color: var(--color-white);
}

/* responsive: small device */
@media screen and (max-width: 576px) {
    header {
        margin: 30px auto;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav-lg {
        display: none;
    }

    .nav-sm-top {
        display: flex;
        gap: 10px;
    }

    .nav-left {
        justify-content: space-between;
        gap: 50px;
    }

    .nav-sm-bottom {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .banner-section {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0 30px;
        text-align: center;
    }

    .banner-content {
        width: 100%;
    }

    .banner-image img {
        width: 70%;
    }

    .title-lg {
        font-size: var(--text-title-sm);
    }

    main {
        padding: 0 30px;
    }

    .products-card-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        direction: rtl;
    }

    .feature-section>* {
        direction: ltr;
    }
}

@media screen and (min-width:577px) and (max-width: 992px) {
    header {
        margin: 30px auto;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav-lg {
        display: none;
    }

    .nav-sm-top {
        display: flex;
        gap: 10px;
    }

    .nav-left {
        justify-content: space-between;
        gap: 50px;
    }

    .nav-sm-bottom {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .banner-section {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0 30px;
        text-align: center;
    }

    .banner-content {
        width: 100%;
    }

    .banner-image img {
        width: 70%;
    }

    .title-lg {
        font-size: var(--text-title-sm);
    }

    main {
        padding: 0 30px;
    }

    .products-card-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 993px) and (max-width: 1440px) {
    main {
        padding: 0 50px;
    }
}