.banner-bg {
    background-image: url("../../assests/circle-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px; 
    padding: 40px;
}